In [5]:
import pandas as pd
import re
import os
import ast
import numpy as np

In [18]:
DATA_DIR = "data/"
DATA_DOC = os.path.join(DATA_DIR, "data.csv")
CLEANED_DATA = os.path.join(DATA_DIR, "cleaned_7th_Apr.csv")

In [7]:
def csv_to_df(filepath):
    """
    Convert CSV file to dataframe
    Parameter: 
        filepath: path of csv file to be read
    Return: pandas dataframe
    """
    df1 = pd.read_csv(filepath)
    return df1

def df_to_csv(df, filepath):
    """
    Convert dataframe to CSV file
    Parameters:
        df: dataframe
        filepath: path of csv file to write to
    """
    df.to_csv(filepath, encoding='utf-8', index=False)

In [8]:
df = csv_to_df(DATA_DOC)
data = df[['text', 'entities', 'user', 'geo']]
data

C:\Users\xKwan\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3377: DtypeWarning: Columns (5,20,23,24) have mixed types.Specify dtype option on import or set low_memory=False.
  if (await self.run_code(code, result,  async_=asy)):

,text,entities,user,geo
0,Weâ€™ll evaluate #Covid19 situation based on I...,"{'hashtags': [{'text': 'Covid19', 'indices': [...","{'id': 838397845329719297, 'id_str': '83839784...",NaN
1,"A national holiday in #Ireland , Day of #Remem...","{'hashtags': [{'text': 'Ireland', 'indices': [...","{'id': 1372670295266500613, 'id_str': '1372670...",NaN
2,@soompi WOW look at Vietnam! Basically no COVI...,"{'hashtags': [{'text': 'COVID19', 'indices': [...","{'id': 1460240119701536777, 'id_str': '1460240...",NaN
3,Delta Air Lines announces first #Pay raise sin...,"{'hashtags': [{'text': 'Pay', 'indices': [32, ...","{'id': 96718576, 'id_str': '96718576', 'name':...",NaN
4,Craniotomy is the surgical removal of some par...,"{'hashtags': [{'text': 'lilyhospitals', 'indic...","{'id': 3438935507, 'id_str': '3438935507', 'na...",NaN
...,...,...,...,...
24524,Trending Now:,NaN,NaN,NaN
24525,Trending Now:,NaN,NaN,NaN
24526,Trending Now:,NaN,NaN,NaN
24527,Like and share if you think it`s fantastic!,NaN,NaN,NaN
24528,periods of pain and then sick excitation with ...,NaN,NaN,NaN

In [9]:
def clean_tweets(text):    
    # print("before: " + text)
    # text = re.sub("'", "", text) # to avoid removing contractions in english
    text = re.sub("@[A-Za-z0-9_]+","", text) # remove @mentions
    text = re.sub(r"#", "", text)  # Normalise hashtags by dropping '#'
    text = re.sub(r'http\S+', '', text) # remove links
    text = re.sub(r"www.\S+", "", text) # remove links
    text = re.sub("[^A-Za-z0-9./\\\()!?\'\"]"," ", text) # filter non-alphanumeric characters
    text = re.sub(" +", " ", text) # remove trailling spaces
    text = re.sub(r"\r\n", " ", text) # remove newlines

    return text
    # ()!?./\
    # print("AFTER: " + text)

In [10]:
text = "@I'm hungry."
text = re.sub("[^A-Za-z0-9./\\\()!?\'\"]", " ", text)

print(text)

 I'm hungry.

In [11]:
# def extract_hashtags(text):
#     text = text.lower()
#     string = ""

#     text = re.sub(r"'", '"', text)
#     text = re.sub(" +", " ", text)  # remove trailling spaces
#     text = re.sub(r"\r\n", " ", text)  # remove newlines
#     # json_load = (json.loads(text))
#     # print(json.dumps(json_load, indent=4))

#     text = re.sub("^[\b'text':\b]"," ", text) # filter non-alphanumeric characters
#     print(text)
    

#     # for dict in json_load['hashtags']:
#     #     # print(dict['text'])
#     #     string = string + dict['text'] + ", "

#     # new_string = string[:-2]
#     # print(new_string)


# text = """

# {'hashtags': [{'text': 'Pay', 'indices': [32, 36]}, {'text': 'Pandemic', 'indices': [56, 65]}, {'text': 'Coronavirus', 'indices': [94, 106]}, {'text': 'COVID19', 'indices': [107, 115]}, {'text': 'Employees', 'indices': [116, 126]}, {'text': 'Yahoo', 'indices': [127, 133]}], 'symbols': [], 'user_mentions': [], 'urls': [{'url': 'https://t.co/cyWrK05G7g', 'expanded_url': 'https://theglobalherald.com/business/finance/delta-air-lines-announces-first-pay-raise-since-before-pandemic/', 'display_url': 'theglobalherald.com/business/finanÃ¢â‚¬Â¦', 'indices': [68, 91]}]}

# """
# extract_hashtags(text)

In [12]:
def recursive_find(dict_, key):
    if not isinstance(dict_, dict):
        return dict_
    if dict_.get(key) is not None:
        return dict_[key]

    for value in dict_.values():
        for new_dict in value:
            output = recursive_find(new_dict, key)
            if output is not None:
                return output

    return None


def func(x, key):
    if x is np.nan or isinstance(ast.literal_eval(x), str):
        return x
    return recursive_find(ast.literal_eval(x), key)

In [13]:
def extract_tags(text):
    try: 
        dict = ast.literal_eval(text)

        taglist = []

        for i in dict['hashtags']:
            taglist.append(i['text'])
    except SyntaxError:
        taglist = []
    
    return taglist

In [14]:
def extract_userID(text):
    try:
        dict = ast.literal_eval(text)

        userID = dict['id']
    except SyntaxError:
        userID = ""

    return userID

In [15]:
taglist = []
for i in dict['hashtags']:
    taglist.append(i['text'])
taglist

TypeError: 'type' object is not subscriptable

In [ ]:
data['text'] = data['text'].apply(lambda x: clean_tweets(x))
# data.head(10)

C:\Users\cheek\AppData\Local\Temp/ipykernel_56876/3676503399.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['text'] = data['text'].apply(lambda x: clean_tweets(x))

In [ ]:
data['entities'] = data['entities'].apply(lambda x: extract_tags(x))

C:\Users\cheek\AppData\Local\Temp/ipykernel_56876/1642889235.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['entities'] = data['entities'].apply(lambda x: extract_tags(x))

In [ ]:
data['user'] = data['user'].apply(lambda x: extract_userID(x))

C:\Users\cheek\AppData\Local\Temp/ipykernel_56876/237044134.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['user'] = data['user'].apply(lambda x: extract_userID(x))

In [16]:
data

,text,entities,user,geo
0,Weâ€™ll evaluate #Covid19 situation based on I...,"{'hashtags': [{'text': 'Covid19', 'indices': [...","{'id': 838397845329719297, 'id_str': '83839784...",NaN
1,"A national holiday in #Ireland , Day of #Remem...","{'hashtags': [{'text': 'Ireland', 'indices': [...","{'id': 1372670295266500613, 'id_str': '1372670...",NaN
2,@soompi WOW look at Vietnam! Basically no COVI...,"{'hashtags': [{'text': 'COVID19', 'indices': [...","{'id': 1460240119701536777, 'id_str': '1460240...",NaN
3,Delta Air Lines announces first #Pay raise sin...,"{'hashtags': [{'text': 'Pay', 'indices': [32, ...","{'id': 96718576, 'id_str': '96718576', 'name':...",NaN
4,Craniotomy is the surgical removal of some par...,"{'hashtags': [{'text': 'lilyhospitals', 'indic...","{'id': 3438935507, 'id_str': '3438935507', 'na...",NaN
...,...,...,...,...
24524,Trending Now:,NaN,NaN,NaN
24525,Trending Now:,NaN,NaN,NaN
24526,Trending Now:,NaN,NaN,NaN
24527,Like and share if you think it`s fantastic!,NaN,NaN,NaN
24528,periods of pain and then sick excitation with ...,NaN,NaN,NaN

In [17]:
data.drop_duplicates(subset=None, keep='first', inplace=False, ignore_index=False)

,text,entities,user,geo
0,Weâ€™ll evaluate #Covid19 situation based on I...,"{'hashtags': [{'text': 'Covid19', 'indices': [...","{'id': 838397845329719297, 'id_str': '83839784...",NaN
1,"A national holiday in #Ireland , Day of #Remem...","{'hashtags': [{'text': 'Ireland', 'indices': [...","{'id': 1372670295266500613, 'id_str': '1372670...",NaN
2,@soompi WOW look at Vietnam! Basically no COVI...,"{'hashtags': [{'text': 'COVID19', 'indices': [...","{'id': 1460240119701536777, 'id_str': '1460240...",NaN
3,Delta Air Lines announces first #Pay raise sin...,"{'hashtags': [{'text': 'Pay', 'indices': [32, ...","{'id': 96718576, 'id_str': '96718576', 'name':...",NaN
4,Craniotomy is the surgical removal of some par...,"{'hashtags': [{'text': 'lilyhospitals', 'indic...","{'id': 3438935507, 'id_str': '3438935507', 'na...",NaN
...,...,...,...,...
24522,I recorded this a year ago â€¦ strangely relev...,"{'hashtags': [{'text': 'mindset', 'indices': [...","{'id': 90010963, 'id_str': '90010963', 'name':...",NaN
24523,I just wish I could have a normal father daugh...,"{'hashtags': [], 'symbols': [], 'user_mentions...","{'id': 988184867442712576, 'id_str': '98818486...",NaN
24524,Trending Now:,NaN,NaN,NaN
24527,Like and share if you think it`s fantastic!,NaN,NaN,NaN
24528,periods of pain and then sick excitation with ...,NaN,NaN,NaN

In [19]:
df_to_csv(data, CLEANED_DATA)